section.about#about
  .about__body
    .about__bg
    .about__container.container
      h2.about__title.title Історія Smartik
      .about__content
        .about__picture.picture-about
          +image('yulya.jpg')
          .picture-about__info-block
            h4.picture-about__title Юлія Семенів
            h4.picture-about__subtitle Засновник Smartik
        blockquote.about__quote
          +icon('quote')
          span Наша ціль - щасливе дитинство!
        .about__text
          p З дитинства всі прогнозували мені,що я буду вчителем, тому що ми з подругами грали ігри, де я завжди навчала їх письму. Чому саме письму? До тепер для мене це залишається загадкою. Коли прийшов час обирати освіту, я була впевнена, що хочу бути стилістом, але на моє щастя мої батьки зробили вибір замість мене. Мені обрали професію викладача англійської мови, за що я їм дуже вдячна.
          p Пройшовши практику в школі, якій я навчалась, та ще й у викладача, який мене вчив, я зрозуміла - це моє. Тому залишившись у школі на роботі та пропрацювавши там 6 років. Потім поїхала закордон, набратись досвіду у колег. Приїхавши додому з двома прекрасними донечками, я вирішила, що маю зробити щось для них, для їх розвитку, для їх психічного та емоційного стану.
          .spoiler__rest
            p Ось так і народилась ідея створення закладу для дітей, батьки яких будуть спокійні, що віддали їх в надійні руки.
            p І ось, в 2017 році я відкрила дитячий центр, ще тоді як клуб для всієї сім’ї, - місце, де моя дитина та її друзі будуть весело і в грі проживати своє дитинство, а батьки будуть спокійні за своїх дітей. Всі ці роки ми з моєю командою наполегливо працювали і продовжуємо працювати над тим, щоб створити ідеальне місце для дітей. Клуб для всієї сім’ї з часом трансформувався в навчальний центр, пізніше, ми сконцентрувались на основній своїй діяльності – дитячому садку.
            p На сьогодні SMARTIK складається з п»яти груп, розділених за віком (починаючи від ясел і до школи), курсів з іноземних мов, таборів ( літніх/зимових, пришкільних/закордонних) . Але є те, що залишилось незмінним і надважливим - наша ціль - щасливе дитинство. Наша основна задача як дошкільного закладу – забезпечити дитині здорове, щасливе і безтурботне дитинство, повне радості, вражень і спілкування з друзями.
            p На сьогодні SMARTIK складається з п»яти груп, розділених за віком (починаючи від ясел і до школи), курсів з іноземних мов, таборів ( літніх/зимових, пришкільних/закордонних) . Але є те, що залишилось незмінним і надважливим - наша ціль - щасливе дитинство. Наша основна задача як дошкільного закладу – забезпечити дитині здорове, щасливе і безтурботне дитинство, повне радості, вражень і спілкування з друзями.
            p Ми постійно працюємо і розвиваємось. Так, не все йде гладко, щось дається легше, щось важче. Ми змінюємо методики, змінюємо підходи, навчаємо викладачів, намагаємось іти за дітьми, бо одна з наших основних задач – прищепити інтерес до навчання в майбутньому. Для нас дуже важлива робота з батьками. Тільки працюючи разом, в синергії, ми можемо дати нашим дітям найкраще. Тому, в першу чергу, ми вибираємо своїх батьків, людей, які сповідують ті самі цінності, що і ми. Якщо вам близькі мої слова, якщо ви вважаєте, що щасливе і гармонійне дитинство, наповнене активними іграми та цікавими проектами , ми запрошуємо вас завітати і познайомитись з нами.
          .spoiler
            label Читати далі
            +icon('arrow')