section.about#about
  .about__body
    .about__bg
    .about__container.container
      h2.about__title.title Історія Smartik
      .about__content
        .about__picture.picture-about
          +image('yulya.jpg')
          .picture-about__info-block
            h4.picture-about__title Юлія Семенів
            h4.picture-about__subtitle Засновник Smartik
        blockquote.about__quote
          +icon('quote')
          span Наша ціль - щасливе дитинство!
        .about__text
          p Моя історія успіху дуже проста - я обожнюю все те, що я роблю , тому працюю завжди з задоволенням!
          p Ще з дитинства всі прогнозували мені,що я буду вчителем, тому що ми з подругами грали ігри, де я завжди їх чомусь навчала . Всі сідали в коло, а не за парти, і вже тоді я знала, що вчити та вчитись можна весело та доступно!
          p Коли прийшов час обирати - питання в виборі професії не стояло, я точно знала, що буду вчителем, але яким? Важливу роль відіграла порада батьків - я обожнюю подорожувати , тому англійська мова - чудовий варіант поєднати роботу з подорожами.
          .spoiler__rest
            p Пройшовши практику в школі, якій я навчалась, та ще й у викладача, який мене вчив, я остаточно зрозуміла - це моє. Тому залишилась у школі на роботі та пропрацювала там 6 років. В школі я набралась досвіду роботи в великих групах , роботи з документами та справедливому оцінюванні. Мені випала чудово можливість поїхати за кордон, набратись досвіду у колег та поділитись своїм! Ця поїздка тривала кілька років і назад додому я повернулась вже з двома прекрасними донечками.
            p Мій досвід за кордоном та в державній школі , а також материнський інстинкт підказали, що я повинна зробити щось для моіх дівчат , для їх  психічного та емоційного розвитку .
            p Це і був початок  створення закладу для дітей, де батьки будуть спокійні, що віддали малюків в надійні руки.
            p 2017 рік став роком початку відкриття дитячого центру , ще тоді це був клуб для всієї сім’ї, - місце, де моя дитина та її друзі весело і в грі проживали своє дитинство, а батьки були спокійні за своїх дітей. Всі ці роки ми з моєю командою наполегливо працювали і продовжуємо працювати над тим, щоб створити ідеальне місце для дітей. Клуб для всієї сім’ї з часом трансформувався в навчальний центр, пізніше, ми сконцентрувались на основній своїй діяльності – дитячому садку.
            p На сьогодні SMARTIK складається з п’яти груп, розділених за віком (починаючи від ясел і до школи), а також курсів з іноземних мов, таборів ( сезонних денних мовних таборів на території України та за її межами) .
            p Але є те, що залишилось незмінним і надважливим - наша ціль - щасливе дитинство. Наше основне завдання, як дошкільного закладу – забезпечити дитині здорове, щасливе і безтурботне дитинство, повне радості, емоцій і спілкування з друзями.
            p Ми постійно працюємо і розвиваємось, випробовуємо нові методики, змінюємо підходи, навчаємо викладачів, намагаємось іти в ногу з часом та дітьми, бо одна з наших основних задач – привити інтерес до навчання в майбутньому. Для нас дуже важлива робота з батьками. Тільки працюючи разом, ми можемо дати нашим дітям найкраще.
            p Якщо вам близькі мої слова, якщо ви вважаєте, що щасливе і гармонійне дитинство, наповнене активними іграми та цікавими проектами - це ідеальне дитинство для ваших діток, ми запрошуємо вас завітати  до нас і дітки будуть вам вдячні!
          .spoiler
            label Читати далі
            +icon('arrow')