section.advantages#advantages
  .advantages__body
    .advantages__container.container
      h2.advantages__title.title.title_black Чому саме "Smartik" ?
      .row
        .column.column-lg-1-3.column-sm-1-2
          .advantages__item.item-advantages
            .item-advantages__icon
              +icon('advantages-1','svg-advantages')
            .item-advantages__info
              h3.item-advantages__title Кваліфіковані викладачі
              span.item-advantages__text Професійний викладацький склад з відповідною освітою та стажем роботи.
        .column.column-lg-1-3.column-sm-1-2
          .advantages__item.item-advantages
            .item-advantages__icon
              +icon('advantages-2','svg-advantages')
            .item-advantages__info
              h3.item-advantages__title Сучасна методика
              span.item-advantages__text Ми використовуємо тільки ефективні та новітні методи навчання.
        .column.column-lg-1-3.column-sm-1-2
          .advantages__item.item-advantages
            .item-advantages__icon
              +icon('advantages-3','svg-advantages')
            .item-advantages__info
              h3.item-advantages__title Невеликі групи
              span.item-advantages__text Заняття виключно в невеликих групах або індивідуально
        .column.column-lg-1-3.column-sm-1-2
          .advantages__item.item-advantages
            .item-advantages__icon
              +icon('advantages-4','svg-advantages')
            .item-advantages__info
              h3.item-advantages__title Зручне розташування
              span.item-advantages__text Зручні умови навчання в центральній частині міста
        .column.column-lg-1-3.column-sm-1-2
          .advantages__item.item-advantages
            .item-advantages__icon
              +icon('advantages-5','svg-advantages')
            .item-advantages__info
              h3.item-advantages__title Великий досвід
              span.item-advantages__text Ми знаходимось на ринку вже понад 4 роки
        .column.column-lg-1-3.column-sm-1-2
          .advantages__item.item-advantages
            .item-advantages__icon
              +icon('advantages-6','svg-advantages')
            .item-advantages__info
              h3.item-advantages__title Доступні ціни
              span.item-advantages__text У нас ви зможете оплатити заняття по доступним цінам




