section.advantages
  .advantages__body
    .advantages__container.container
      h2.advantages__title.title.title_black Чому саме "Smartik" ?
      .row
        .column.column-lg-1-3
          .advantages__item.item-advantages
            .item-advantages__icon
              +icon('advantages-1','svg-advantages')
            .item-advantages__info
              h3.item-advantages__title Кваліфіковані викладачі
              span.item-advantages__text Професійний викладацький склад з відповідною освітою та стажем роботи.


