.garden
  .garden__body
    .garden__container.container
      h2.garden__title.title.title_black Дитячий садок Smartik
      .garden__row.row
        .garden__column.column.column-lg-1-3
          .garden__content.content-garden
            .content-garden__title " SMARTIK" - це садок в якому дитинство вашої дитини буде веселим та щасливим.
            .content-garden__age-groups.age-groups-content-garden
              .age-groups-content-garden__title Садок "SMARTIK" ділиться на вікові групи:
              ul.age-groups-content-garden__list
                li.age-groups-content-garden__item
                  +icon('arrow-list')
                  span Smartik Little Angels
                  span(style='color: #65C338')  (від 1 року)
                li.age-groups-content-garden__item
                  +icon('arrow-list')
                  span Smartik Day care
                  span(style='color: #65C338') (від 2-3 роки)
                li.age-groups-content-garden__item
                  +icon('arrow-list')
                  span Smartik Preschool
                  span(style='color: #65C338')  (від 4-5років)
                li.age-groups-content-garden__item
                  +icon('arrow-list')
                  span Smartik Preschool
                  span(style='color: #65C338')  (5+)


            .content-garden__classes.classes-content-garden
              .classes-content-garden__title Погодинні заняття ( групи без мам від 3 років):
              .classes-content-garden__text логопед, психолог, хореографія, музика, англійська, польська, підготовка до школи, творчість, baby zumba.

            .content-garden__note Також Ви маєте можливість записатися на пробне
            .content-garden__link БЕЗШКОШТОВНЕ ЗАНЯТТЯ
        .garden__column.column.column-lg-2-3
          .garden__slider.slider-garden.popup-gallery
            .slider-garden__item
              a(href="img/childrens-garden/01.jpg")
                +image('childrens-garden/01.jpg')
            .slider-garden__item
              a(href="img/childrens-garden/02.jpg")
                +image('childrens-garden/02.jpg')
            .slider-garden__item
              a(href="img/childrens-garden/03.jpg")
                +image('childrens-garden/03.jpg')
            .slider-garden__item
              a(href="img/childrens-garden/04.jpg")
                +image('childrens-garden/04.jpg')
            .slider-garden__item
              a(href="img/childrens-garden/05.jpg")
                +image('childrens-garden/05.jpg')
            .slider-garden__item
              a(href="img/childrens-garden/06.jpg")
                +image('childrens-garden/06.jpg')
            .slider-garden__item
              a(href="img/childrens-garden/07.jpg")
                +image('childrens-garden/07.jpg')
            .slider-garden__item
              a(href="img/childrens-garden/08.jpg")
                +image('childrens-garden/08.jpg')
            .slider-garden__item
              a(href="img/childrens-garden/09.jpg")
                +image('childrens-garden/09.jpg')
            .slider-garden__item
              a(href="img/childrens-garden/10.jpg")
                +image('childrens-garden/10.jpg')
            .slider-garden__item
              a(href="img/childrens-garden/11.jpg")
                +image('childrens-garden/11.jpg')
      .garden__btn
        a(href='#').btn.btn_green
          span ЗАПИСАТИСЯ
        a(href='#').btn.btn_orange
          span Детальніше

