.garden
  .garden__body
    .garden__container.container
      h2.garden__title.title.title_black Дитячий садок Smartik
      .garden__row.row
        .garden__column.column.column-lg-1-3
          .garden__content.content-garden
            .content-garden__title " SMARTIK" - це садок в якому дитинство вашої дитини буде веселим та щасливим.
            .content-garden__age-groups.age-groups-content-garden
              .age-groups-content-garden__title Садок "SMARTIK" ділиться на вікові групи:
              ul.age-groups-content-garden__list
                li.age-groups-content-garden__item
                  +icon('arrow-list')
                  span Smartik Little Angels
                  span(style='color: #65C338')  (від 1 року)
                li.age-groups-content-garden__item
                  +icon('arrow-list')
                  span Smartik Day care
                  span(style='color: #65C338') (від 2-3 роки)
                li.age-groups-content-garden__item
                  +icon('arrow-list')
                  span Smartik Preschool
                  span(style='color: #65C338')  (від 4-5років)
                li.age-groups-content-garden__item
                  +icon('arrow-list')
                  span Smartik Preschool
                  span(style='color: #65C338')  (5+)


            .content-garden__classes.classes-content-garden
              .classes-content-garden__title Погодинні заняття ( групи без мам від 3 років):
              .classes-content-garden__text логопед, психолог, хореографія, музика, англійська, польська, підготовка до школи, творчість, baby zumba.

            .content-garden__note Також Ви маєте можливість записатися на пробне
            a(href='#').content-garden__link БЕЗШКОШТОВНЕ ЗАНЯТТЯ
        .garden__column.column.column-lg-2-3
          .garden__slider.slider-garden.popup-gallery
            .slider-garden__item
              a(href="img/childrens-garden/01.jpg")
                +image('childrens-garden/01.jpg')
            .slider-garden__item
              a(href="img/childrens-garden/02.jpg")
                +image('childrens-garden/02.jpg')
            .slider-garden__item
              a(href="img/childrens-garden/03.jpg")
                +image('childrens-garden/03.jpg')
            .slider-garden__item
              a(href="img/childrens-garden/04.jpg")
                +image('childrens-garden/04.jpg')
            .slider-garden__item
              a(href="img/childrens-garden/05.jpg")
                +image('childrens-garden/05.jpg')
            .slider-garden__item
              a(href="img/childrens-garden/06.jpg")
                +image('childrens-garden/06.jpg')
            .slider-garden__item
              a(href="img/childrens-garden/07.jpg")
                +image('childrens-garden/07.jpg')
            .slider-garden__item
              a(href="img/childrens-garden/08.jpg")
                +image('childrens-garden/08.jpg')
            .slider-garden__item
              a(href="img/childrens-garden/09.jpg")
                +image('childrens-garden/09.jpg')
            .slider-garden__item
              a(href="img/childrens-garden/10.jpg")
                +image('childrens-garden/10.jpg')
            .slider-garden__item
              a(href="img/childrens-garden/11.jpg")
                +image('childrens-garden/11.jpg')
      .garden__btn
        a(href='#').btn.btn_green
          span ЗАПИСАТИСЯ
        a(href='#small-dialog').btn.btn_orange.popup-with-move-anim
          span Детальніше

#small-dialog.modal-info.zoom-anim-dialog.mfp-hide
  .modal-info__body
    p " SMARTIK" - це садок в якому дитинство вашої дитини буде веселим та щасливим.
    p Відвідування дитячого садочку дасть швидкий старт загального розвитку, підготує до вступу у школу, допоможе з вихованням необхідних якостей і навичок, дасть нові знання та досвід.
    h2.modal-info__title ПРИВАТНИЙ ДИТЯЧИЙ САДОК
    p Шановні батьки освітній центр " SMARTIK" пропонує унікальну програму у садочку повного та неповного дня. Спеціально для ваших дітей ми розробили унікальну комплексну програму з розвитку та виховання дітей. Запрошуємо дітей від 1 до 6 років поринути у цікавий світ пізнання, знайомства, який сповнений щирою та доброзичливою атмосферою.
    p Ми створили найкомфортніші умови перебування дітей з 8.00 до 18.00 години. Протягом усього тижня відповідно до розкладу проходять різноманітні заняття різної спрямованості: ранній розвиток, підготовка до школи, світ навколо нас, музичні та спортивні заняття, творчість, хореографія, англійська та польська мови. А підтримувати та стимулювати сили вашої дитини буде збалансоване здорове харчування, тиха година та активності на свіжому повітрі.
    h2.modal-info__title ЧОМУ МИ?
    p
      ul.modal-info__list
        li кожна дитина  це особистість! Ми знаємо як правильно її сформувати та пристосувати до соціуму.
        li ми дбаємо про безпеку ваших дітей, тому нас власний майданчик закритого типу.
        li ми знаємо наскільки важлива англійська мова у сучасному світі, саме тому знання іноземної мови проходять у легкій, ігровій формі, все для того, щоб привити любов до мови.
        li ми маємо державне ліцензування в якості дошкільного навчального закладу.
        li у нас висококваліфіковані вихователі з вищою профільною освітою.
        li ми перетворюємо повсякденні дії у справжню пригоду, тому що дитинство має бути веселим та щасливим.
    h2.modal-info__title МЕТА:
    p
      ul.modal-info__list
        li креативно розвивати дітей з наймолодшого віку
        li розвивати дитину із збереженням її фізичного та емоційного здоров’я.
        li знайомити дошкільнят із соціумом та його правилами.
        li активно психологічно та інтелектуально готувати дітей до першого класу.
        li сформувати прогресивний світогляд дітей на майбутнє.
    h2.modal-info__title ХАРЧУВАННЯ
    p До щоденного столу наших діток ми готуємо збалансоване меню. Ми готові прислухатись до побажань батьків з приводу індивідуальних особливостей харчування окремої дитини. Також є можливість безлактозного харчування та вегетаріанського меню. Ціна регулюється!
    h2.modal-info__title РЕЖИМ РОБОТИ:
    p З понеділка по п’ятницю садок з 8.00 до 18.00 додаткові гуртки - згідно розкладу у ранковий та вечірній час.
    h2.modal-info__title АДРЕСА:
    p м. Івано - Франківськ, вул. Шевченка 34б.
    h2.modal-info__title ТЕЛЕФОНИ:
    p
      a(href='tel:+38956130086').modal-info__phone (095) 613-00-86
      a(href='tel:+380991933065').modal-info__phone (099) 193-30-65
    h2.modal-info__title ПОСЛУГИ:
    p
      ul.modal-info__list
        li садок повного ( з 8.00 до 18.00)
        li садок  неповного дня ( з 8.00 до 14.00)
        li підготовка до школи
        li хореографія
        li англійська мова
        li польська мова
        li музика
        li країна творчості




