.services
  .services__body
    .services__container.container
      h2.services__title.title.title_black Наші послуги
      .services__row.row
        .services__column.column.column-md-1-2.column-lg-1-3
          .services__card.card-services.card-services_green
            .card-services__image
              +image('service-1.jpg')
            h3.card-services__title.title.title_green.title_small Дитячий садок
            span.card-services__text Дитячий садочок <b>Smartik</b> пропонує
              b  унікальну програму для розвитку
              |  та виховання ваших дітей під наглядом висококваліфікованих викладачів.
            .card-services__btn
              a(data-scroll href='#garden').btn.btn_green
                span Перейти
        .services__column.column.column-md-1-2.column-lg-1-3
          .services__card.card-services.card-services_orange
            .card-services__image
              +image('service-2.jpg')
            h3.card-services__title.title.title_orange.title_small Табори
            span.card-services__text Англомовний табір Smart cam пропонує три види літніх таборів:
              b  денний табір, табір у Карпатах,
              |  а також
              b  табір за кордоном
              |  на території Польщі
            .card-services__btn
              a(data-scroll href='#camp').btn.btn_orange
                span Перейти
        .services__column.column.column-md-1-2.column-lg-1-3
          .services__card.card-services.card-services_violet
            .card-services__image
              +image('service-3.jpg')
            h3.card-services__title.title.title_violet.title_small Курси іноземних мов
            span.card-services__text <b>Smartik</b> допомагає у вивченні
              b  анлійської, французької, польської
              |  та
              b  німецької
              |  мов для дітей (від 3-х років), старшого щкільного віку, дорослих та підготовки до ЗНО
            .card-services__btn
              a(data-scroll href='#languages').btn.btn_violet
                span Перейти