// Structure for Sweeper slider

//.main-slider
//    .main-slider__body.swiper
//        .main-slider__item.item-main-slider
//        .main-slider__item.item-main-slider
//    .main-slider__control.control-main-slider
//        .control-main-slider__arrow.control-main-slider__arrow_prev
//        .control-main-slider__decor
//        .control-main-slider__arrow.control-main-slider__arrow_next
