section.team#team
  .team__body
    .team__bg
    .team__container.container
      h2.team__title.title Команда Smartik

      .team__slider.slider

        .team__member-card.member-card-team.slider__item
          .member-card-team__photo
            +image('team/yulya.jpg')
          .member-card-team__info.member-card-team__info_green
            .member-card-team__name Юля Шкромида
            .member-card-team__position Психолог

        .team__member-card.member-card-team.slider__item
          .member-card-team__photo
            +image('team/olexandra.jpg')
          .member-card-team__info.member-card-team__info_orange
            .member-card-team__name Олександра Оленчук
            .member-card-team__position Очільник мовних курсів та таборів

        .team__member-card.member-card-team.slider__item
          .member-card-team__photo
            +image('team/ulyana.jpg')
          .member-card-team__info.member-card-team__info_violet
            .member-card-team__name Уляна Мотрич
            .member-card-team__position Очільник садка

        .team__member-card.member-card-team.slider__item
          .member-card-team__photo
            +image('team/olexandra.jpg')
          .member-card-team__info.member-card-team__info_green
            .member-card-team__name Світлана Муравська
            .member-card-team__position Лікар-логопед

        .team__member-card.member-card-team.slider__item
          .member-card-team__photo
            +image('team/yulya-main.jpg')
          .member-card-team__info.member-card-team__info_orange
            .member-card-team__name Юлія Семенів
            .member-card-team__position Засновник Smartik