-var titlePage = 'Смартік'
-var DescPage = 'Приватний заклад дошкільної освіти'
-var KeywordsPage = 'Smartik, Смартік, садок, освіта, діти, навчання'
-var authorPage = 'Веб студія d-wave'
-var indexPage = 'noindex'