include particles/_vars
include particles/_mixins
include particles/_head
body
  #alert-success-send.mfp-hide.white-popup-block
    h2.white-popup-block__title.title.title_small.title_black Дякуємо за запит :-)
    p Скоро ми з Вами зв'яжемось!
    p
      .popup-modal-dismiss.white-popup-block__btn.btn.btn_violet Добре

  #alert-error-send.mfp-hide.white-popup-block
    h2.white-popup-block__title.title.title_small.title_black Нажаль щось пішло не так :-(
    p Спробуйте, будь ласка, пізніше!
    p
      .popup-modal-dismiss.white-popup-block__btn.btn.btn_violet Добре
  .wrapper
    include particles/_header
    main.page#page-menu
      include particles/_advantages
      include particles/_about
      include particles/_services
      include particles/_team
      include particles/_childrens-garden
      include particles/_languages
      include particles/_camp
    include particles/_footer
  script(src='js/vendors.js')
  script(src='js/app.min.js')