.svg-advantages-1-dims {
	width: 53px;
	height: 55px;
}

.svg-advantages-2-dims {
	width: 56px;
	height: 56px;
}

.svg-advantages-3-dims {
	width: 70px;
	height: 70px;
}

.svg-advantages-4-dims {
	width: 49px;
	height: 49px;
}

.svg-advantages-5-dims {
	width: 53px;
	height: 53px;
}

.svg-advantages-6-dims {
	width: 62px;
	height: 63px;
}

.svg-arrow-dims {
	width: 16px;
	height: 16px;
}

.svg-phone-dims {
	width: 18px;
	height: 18px;
}

.svg-quote-dims {
	width: 34px;
	height: 34px;
}

.svg-user-dims {
	width: 18px;
	height: 19px;
}

