.svg-advantages-1-dims {
	width: 53px;
	height: 55px;
}

.svg-advantages-2-dims {
	width: 56px;
	height: 56px;
}

.svg-advantages-3-dims {
	width: 70px;
	height: 70px;
}

.svg-advantages-4-dims {
	width: 49px;
	height: 49px;
}

.svg-advantages-5-dims {
	width: 53px;
	height: 53px;
}

.svg-advantages-6-dims {
	width: 62px;
	height: 63px;
}

.svg-arrow-dims {
	width: 16px;
	height: 16px;
}

.svg-arrow-list-dims {
	width: 16px;
	height: 14px;
}

.svg-facebook-dims {
	width: 22px;
	height: 22px;
}

.svg-foreign-camp-dims {
	width: 27px;
	height: 27px;
}

.svg-instagram-dims {
	width: 22px;
	height: 22px;
}

.svg-karpaty-camp-dims {
	width: 30px;
	height: 26px;
}

.svg-lang-list-dims {
	width: 24px;
	height: 25px;
}

.svg-lang-list2-dims {
	width: 16px;
	height: 14px;
}

.svg-locate-contact-dims {
	width: 12px;
	height: 17px;
}

.svg-mail-contact-dims {
	width: 16px;
	height: 12px;
}

.svg-phone-dims {
	width: 18px;
	height: 18px;
}

.svg-phone-contact-dims {
	width: 16px;
	height: 16px;
}

.svg-quote-dims {
	width: 34px;
	height: 34px;
}

.svg-school-camp-dims {
	width: 29px;
	height: 29px;
}

.svg-user-dims {
	width: 18px;
	height: 19px;
}

