.advantages
  &__body
    background: url("../img/note.png") top left
    padding: rem(60px) 0 rem(30px) 0
    +breakpoint(md)
      padding: rem(100px) 0 rem(40px) 0
  &__title
    margin: 0 0 rem(40px) 0
    +breakpoint(md)
      margin: 0 0 rem(85px) 0
  &__item

.item-advantages
  display: inline-flex
  &__icon
  &__info
    margin: 0 0 rem(30px) rem(20px)
    +breakpoint(md)
      margin: 0 0 rem(60px) rem(20px)
  &__title
    color: #181818
    font-size: rem(20px)
    line-height: em(24,20)
    font-weight: 500
    margin: 0 0 rem(8px) 0
    +breakpoint(md)
      font-size: rem(22px)
      line-height: em(24,22)
  &__text
    font-family: Roboto,serif
    font-weight: 400
    font-size: rem(15px)
    line-height: em(22,15)
    color: #707070

