.svg-phone
  width: 23px
  height: 23px
  fill: #FFFFFF
  +breakpoint(lg)
    width: 18px
    height: 18px
    fill: #3983C8
.svg-advantages
  width: 40px
  height: 40px
  +breakpoint(md)
    width: 55px
    height: 55px
  &-1
    fill: #D56DE5
  &-2
    fill: #F38649
  &-3
    fill: #F1DA02
  &-4
    fill: #45B1ED
  &-5
    fill: #973FDD
  &-6
    fill: #65C338

.svg-quote
  width: 34px
  height: 34px
  fill: #FFCA41
.svg-arrow
  width: 16px
  height: 16px
  fill: #FFCA41